.container {
  display: flex;
  box-sizing: border-box;
}

button {
  border: 20px solid #12407e;
  padding: 40px;
  margin: 0 3rem;
  font-size: 3rem;
}

.count {
  font-size: 5rem;
  color: #147900;
  margin: 0 2rem;
  padding: 0 2rem;
}

.reset {
  display: inline;
}